body {
	font-family: sans-serif;
	background-color: rgb(195, 55, 37);
}

h2 {
	color: white;
	font-size: 75px;
	padding: -100px;
	text-align: justify;
	text-align: center;
}

div {
	border-bottom: 2px solid black;
}

h3 {
	font-size: 2.2em;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.flex-child {
  padding: 2%;
  width: 300px;
}

